[submodule "comet"]
	path = comet
	url = git@github.com:rpamis/comet.git
[submodule "openflow"]
	path = openflow
	url = git@github.com:lininn/openflow.git
[submodule "spec-superflow"]
	path = spec-superflow
	url = git@github.com:MageByte-Zero/spec-superflow.git
[submodule "gstack-superflow"]
	path = gstack-superflow
	url = D:/2026_idea_project/gstack-superflow
